maxClientCnxns=50
tickTime=2000
initLimit=10
syncLimit=5
dataDir=/var/lib/zookeeper
clientPort=2181

{% for host in ip_of_masters %}
server.{{ hostvars[host]['ansible_hostname'].split('-')[1]}}={{ hostvars[host]['ansible_eth1']['ipv4']['address'] }}:2888:3888
{% endfor %}
